@page "/"
@inherits Home_razor
@inject IJSRuntime JS

<!-- 背景-->
<div class="background">
    <div class="ball" style="width: 200px; height: 200px; background-color: #63dbff; top: 10%; left: 20%;"></div>
    <div class="ball" style="width: 300px; height: 300px; background-color: #fc779e; top: 30%; left: 60%;"></div>
    <div class="ball" style="width: 250px; height: 250px; background-color: #ce92ff; top: 70%; left: 15%;"></div>
    <div class="ball" style="width: 250px; height: 250px; background-color: #aaff92; top: 90%; left: 80%;"></div>
</div>

<div class="container">
    <main class="main-content">
        <!-- 个人介绍 -->
        <article class="card profile-card">
            <img src="./images/logo.png" alt="Profile" class="profile-pic">
            <div>
                <h2 style="font-size: 25px;font-family: Roboto,serif">TiO2 EvoLve</h2>
                <p class="text-gray-500 p-2">欢迎来到我的空间</p>
                <p style="color: #fa60a0;font-size:medium">网站已经运行了 @currentTime.Days 天 @currentTime.Hours 时 @currentTime.Minutes 分 @currentTime.Seconds 秒</p>
            </div>
        </article>

        <!-- 博客文章 -->
        <article class="card">
            <h3>正在学习</h3>
            <p class="project-date">进度条代表偏重性</p>
        <div class="skills-container">
            @foreach (var skill in Skills)
            {
                <div class="skill-item @skill.Class">
                    <img src="@skill.Img" alt="" style="width: 50px;height: 50px"/>
                    <div class="skill-content">
                        <div class="skill-name">@skill.Name</div>
                        <div class="progress-bar">
                            <div class="progress-fill" style="width: @skill.Progress%;"></div>
                        </div>
                    </div>
                </div>
            }
        </div>
        </article>

        <article class="container2">
            <div class="left-content">
                <div class="title">S&Box</div>
                <div class="sub-title">C# + Source2 + Razor 免费的游戏开发引擎</div>
                <div class="desc">一款基于Source 2开发的可视化游戏引擎，使用C#作为编程语言，Garry Mod的续作。。。</div>
                <div class="button-group">
                    <a target="_blank" href="https://sbox.game/about" class="official-btn">官方网址</a>
                    <a target="_blank" href="https://github.com/Facepunch" class="github-btn">github仓库</a>
                </div>
            </div>
            <div class="right-graphic">
                <div class="big-title">S&Box Engin</div>
                <div class="url">https://sbox.game/about</div>
            </div>
        </article>

        <article class="card" style="display: flex; align-items: center;padding: 20px;">
            <h1 style="color: #fa60a0;font-weight: bolder;font-size: 30px">个人作品</h1>
        </article>

        <article class="container3">
            <article class="project-card">
                <img src="./images/room.png" class="project-image" alt="">
                <div class="project-info">
                    <h2 class="project-title">室内场景</h2>
                    <p class="project-date">2023-02-24</p>
                    <p class="project-category">起源二 / 地图</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 1.3w</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV1MX4y197sx" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/backroom.png" class="project-image" alt="">
                <div class="project-info">
                    <h2 class="project-title">后室场景</h2>
                    <p class="project-date">2024-07-09</p>
                    <p class="project-category">起源二 / 游戏</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 316</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV1yb421n7NK" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/touhou.png" class="project-image" alt="">
                <div class="project-info">
                    <h2 class="project-title">东方弹幕游戏</h2>
                    <p class="project-date">2024-03-09</p>
                    <p class="project-category">起源二 / 游戏</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 289</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV17J4m1a7KJ" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/pool.png" class="project-image" alt="">
                <div class="project-info">
                    <h2 class="project-title">池核场景</h2>
                    <p class="project-date">2024-04-29</p>
                    <p class="project-category">起源二 / 地图</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 1236</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV1RH4y1G7wk" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/toon.png" class="project-image" alt="">
                <div class="project-info">
                    <h2 class="project-title">三渲二shader</h2>
                    <p class="project-date">2024-12-23</p>
                    <p class="project-category">起源二 / shader</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 715</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV1xxC5YeEtH" class="view-btn">瞧一瞧</a>
                </div>
            </article>

            <article class="project-card">
                <img src="./images/plug.png" class="project-image" alt="">
                <div class="project-info">
                    <h2 class="project-title">模型导出插件</h2>
                    <p class="project-date">2025-1-2</p>
                    <p class="project-category">Blender / 插件</p>
                </div>
                <div class="action-btns">
                    <button class="like-btn">❤️ 365</button>
                    <a target="_blank" href="https://www.bilibili.com/video/BV14m66YeEFp" class="view-btn">瞧一瞧</a>
                </div>
            </article>
        </article>
        
    </main>

    <!-- 侧边栏 -->
    <aside class="sidebar">
        <div class="card">
            <h3>外部链接</h3>
            <br/>
            <ul>
                <li>
                    <img src="images/bilibili.ico" alt=""/>
                    <a target="_blank" href="https://space.bilibili.com/59422806">Bilibili主页</a>
                </li>
                <li>
                    <img src="images/steam.ico" alt=""/>
                    <a target="_blank" href="https://steamcommunity.com/id/TiO2EvoLve">Steam主页</a>
                </li>
                <li>
                    <img src="images/github.ico" alt=""/>
                    <a target="_blank" href="https://github.com/TiO2EvoLve">Github主页</a>
                </li>
            </ul>
        </div>

        <div class="card">
            <h3>个人信息</h3>
            <br/>
            <p>🌏 中国·山东·济南</p>
            <p>💻 TiO2 EvoLve</p>
            <p>📧 3290158038@qq.com</p>
        </div>
        
        <div class="card">
            <h3 class="text-blue-600">开发设备</h3>
            <br/>
            <ul>
                <li>
                    <p><span class="text-pink-600">CPU:</span> Intel Core i7-14700KF</p>
                </li>
                <li>
                    <p><span class="text-pink-600">GPU:</span> NVIDIA RTX 5070 Ti</p>
                </li>
                <li>
                    <p><span class="text-pink-600">主板:</span> 华硕ROG STRIX Z-790-A</p>
                </li>
                <li>
                    <p><span class="text-pink-600">内存:</span> 芝奇DDR5 32GB</p>
                </li>
                <li>
                    <p><span class="text-pink-600">硬盘:</span> 海力士-2000GM 2TB</p>
                </li>
                <li>
                    <p><span class="text-pink-600">显示:</span>联想Y27-qf-30 27英寸</p>
                </li>
                <li>
                    <p><span class="text-pink-600">鼠标:</span>罗技 G PRO X 2</p>
                </li>
                <li>
                    <p><span class="text-pink-600">键盘:</span>樱桃CHERRY MX3.0S 黑轴</p>
                </li>
            </ul>
        </div>
    </aside>
    
</div>
@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("startSakura");
        }
    }

}